.container {
    background-color: lightpink;
    width: 500px;
    padding: 40px;
    border-radius: 15px;
    box-shadow: 4px 4px 15px rgb(129, 128, 126);
    margin: auto;
}

h1 {
    text-align: center;
    color: darkolivegreen;
}

h2 {
    color: darkolivegreen;
}

img {
    width: 50%;
    height: auto;
    border-radius: 10px;
    box-shadow: 4px 4px 10px rgb(129, 128, 126);
}

a {
    color: darkolivegreen;
}

a:hover {
    color: greenyellow;
}