* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #2EB070;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-color: #FEFEFE;
    box-shadow: 5px 5px 20px rgba(54, 54, 54, 0.5);
    width: 380px;
    padding: 20px;
    border-radius: 10px;
}

h1 {
    text-align: center;
    margin: 15px;
}

label {
    margin-bottom: 5px 0 10px 0;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 8px;
    margin: 5px 0 15px 0;
    border: 1px solid #3BDC8C;
    border-radius: 4px;
}