.bg {
    width: 100vw;
    height: 100vh;
    background-color: cadetblue;
    background-image: url(../lorem.png);
    /*background-repeat: no-repeat; NÃO REPETE A IMAGEM VARIAS VEZES*/
    background-size: cover;
    background-attachment: scroll;
    background-position: left;
}