
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}*

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

form {
    background-image: url(../05-ListasDeSelecao/fundo-de-papel-de-parede-colorido-vivido-e-desfocado_58702-4197.png);
    background-repeat: no-repeat;
    padding: 50px;
    border-radius: 15px;
    width: 600px;
    height: 300px;
    box-shadow: 5px 5px 20px rgba(94, 94, 94, 0.8);
    text-align: center;
}

h1 {
    color: rgba(255, 202, 0, 2);
    text-align: center;
}

h2 {
    color: rgba(98, 45, 109, 2);
    text-align: center;
}

label {
    color: #f0f0f0;
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    margin: 50px 20px 50px 0;
    text-align: left;
}

input {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

datalist {
    padding: 5px;
    border-radius: 5px;
    border: none;
}

button {
    color: rgba(255, 111, 0, 2);
    border: none;
    padding: 10px 20px;
    border-radius: 50px;
    margin-top: 15px;
}