* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.float-left {
    float: left;
    width: 200px;
    height: 100px;
    background-color: cadetblue;
}

.float-right {
    float: right;
    width: 200px;
    height: 100px;
    background-color: cornflowerblue;
}

.no-float {
    float: none;
    width: 100%;
    background-color: lightsteelblue;
}

.clear {
    clear: both;
    background-color: lightcoral;
}